<template>
    <v-content>
      <section>
        <v-parallax :src="require('@/assets/foodmenu.jpg')" alt="home-screen" height="400" >

          <landing-card :title="pageTitle"/>
        </v-parallax>
      </section>
      <section>
        <Menu :menu="menu"></Menu>
      </section>
    </v-content>
 </template>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
  import Menu from '@/components/food/Menu'
  import LandingCard from '@/components/common/LandingCard'
  export default {
    components: {
      Menu,
      LandingCard
    },
    data () {
      return {
        pageTitle: 'Food Menu',
        menu: [
          {
            group: 'Appetizers',
            items: [
              {
                title: 'French Fries',
                price: 2.75,
                desc: 'Good fried potatoes',
                // pic: `@/assets/hamburger-1238246_1920.jpg`,
                alt: [
                  {
                    price: 0.25,
                    desc: 'add cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              },
              {
                title: 'Wings',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'add cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              },
              {
                title: 'Salad',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'add cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'W/ Ranch'
                  }
                ]
              }
            ]
          },
          {
            group: 'Lunch',
            items: [
              {
                title: 'Sandwich',
                price: 2.75,
                desc: 'Turkey szndwich with salad and other delicious toppings to make a great lunch.',
                alt: [
                  {
                    price: 0.25,
                    desc: 'add cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              },
              {
                title: 'Burger',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'add cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              },
              {
                title: 'Pasta',
                price: 2.75,
                desc: 'Good fried potatoes'
              },
              {
                title: 'Chicken',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'add cheese'
                  }
                ]
              },
              {
                title: 'Spaghetti',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'add cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              },
              {
                title: 'Spaghetti',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'These have cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              },
              {
                title: 'Spaghetti',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'These have cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              },
              {
                title: 'Chicken Salad',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'These have cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              },
              {
                title: 'Fruit Salad',
                price: 2.75,
                desc: 'Good fried potatoes',
                alt: [
                  {
                    price: 0.25,
                    desc: 'These have cheese'
                  },
                  {
                    price: 0.75,
                    desc: 'add chillie'
                  }
                ]
              }
            ]
          }
        ]
      }
    }
  }
 </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
