<template>
  <v-container fluid grid-list-md>
    <v-card>
    <v-layout column v-for="(group, index) in menu" :key="index">
    <v-card-title>
      <h1 class="ma-4">{{ group.group }}</h1>
    </v-card-title>
          <v-divider/>
    <v-card-text>
    <v-data-iterator
      :items="group.items"
      content-tag="v-layout"
      hide-actions
      row
      wrap
    >
      <v-flex
        slot="item"
        slot-scope="props"
        xs12
        sm6
        md4
        lg3
      >
        <v-card class="menuItem">
          <v-card-title>
            <!-- <img v-if="props.item.pic" :src="require('')"></img> -->
            <h4 class="menuItemTitle">{{ props.item.title }}</h4>
              <v-btn icon absolute right>
                <v-icon>
                  add_shopping_cart
                </v-icon>
              </v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-list dense>
            <v-list-tile style="height: auto;">
              <v-list-tile-content class="menuContent" style="margin: 5px; height: 100%;" light>{{ props.item.desc }}</v-list-tile-content>
              <v-spacer/>

            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content class="menuContent align-end">${{ props.item.price }}</v-list-tile-content>
            </v-list-tile>
            <v-list-group v-if="props.item.alt" v-for="(items, index) in props.item.alt" :key="index">
            <v-list-tile>
              <v-list-tile-content class="menuContent">{{ items.desc }}</v-list-tile-content>
              <v-list-tile-action>
                <v-btn icon absolute right>
                <v-icon>
                  add
                </v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content class="menuContent align-end">${{ items.price }}</v-list-tile-content>
            </v-list-tile>
            </v-list-group>
          </v-list>
        </v-card>
      </v-flex>
    </v-data-iterator>
    </v-card-text>
    <v-card class="elevation-0 transparent">
      <v-card-text class="text-xs-center">
        <v-icon x-large class="blue--text text--lighten-2">restaurant_menu</v-icon>
      </v-card-text>
    </v-card>
    </v-layout>
    </v-card>
  </v-container>
</template>
<script>
export default {
  props: {
    menu: Array
  },
  data () {
    return {
      title: 'menu'
    }
  }
}
</script>
<style scoped>
.menuContent {
  color: black;
}
.menuItem {
  background-color: rgb(0, 178, 248);
  /* border-radius: 10px; */
}
.menuItemTitle {
  color: rgb(255, 255, 255);
}
.menuItemDetails {
  color: rgb(0, 0, 0);
}
</style>
