<template>
  <v-layout column>
    <section>
      <v-parallax :src="require('@/assets/contact.jpg')" alt="home-screen" height="400" >
        <landing-card :title="pageTitle"/>
      </v-parallax>
    </section>
    <section>
      <v-layout fluid-grid row>

          <v-flex xs12 sm6>
            <v-card class="ma-4">
              <v-card-title>
                <h2>This is why you chould contact us</h2>
              </v-card-title>
              <v-card-text>
                This is a description of why you should contact us today!
              </v-card-text>
            </v-card>
          </v-flex>

          <v-flex xs12 sm6>
              <v-card class="ma-4 pa-2">
              <contact-form />
              </v-card>
          </v-flex>

      </v-layout>

    </section>
  </v-layout>
</template>
<script>
  import LandingCard from '@/components/common/LandingCard'
  import ContactForm from '@/components/contact/Form'
  export default {
    components: {
      ContactForm,
      LandingCard
    },
    data () {
      return {
        pageTitle: 'Contact Us'
      }
    }
  }
</script>
<style scoped>

</style>
