<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <h2>Thanks for reaching out</h2>
    <p>Send us a message and we will get back with you as soon as possible!</p>
    <v-text-field
      v-model="name"
      :rules="nameRules"
      :counter="10"
      label="Name"
      required
    ></v-text-field>
    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>
    <v-textarea
      v-model="message"
      :rules="[v => !!v || 'Message is required']"
      label="Message"
      required
    ></v-textarea>
    <v-checkbox
      v-model="maillist"
      :rules="[v => !!v || 'You must agree to continue!']"
      label="By clicking this box, you are agreeing to being added to our mailing list."
      required
    ></v-checkbox>
    <v-layout row>
   <v-spacer/>
    <v-btn @click="clear">clear</v-btn>
     <v-btn
      :disabled="!valid"
      @click="submit"
    >
      send
    </v-btn>
    </v-layout>
  </v-form>
</template>
<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        valid: true,
        name: '',
        message: '',
        nameRules: [
          v => !!v || 'Name is required',
          v => (v && v.length <= 10) || 'Name must be less than 10 characters'
        ],
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        maillist: false
      }
    },

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/send', {
            name: this.name,
            email: this.email,
            select: this.message,
            maillist: this.maillist
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>
<style scoped>

</style>
