<template>
    <v-content>
      <section>
        <v-parallax :src="require('@/assets/landingImage.jpg')" alt="home-screen" height="600" >

          <landing-card 
            :opHours="opHours"
            :locale="locale"
            :address="address"
            />
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
        <v-card>
          <v-flex xs12 class="my-3">
            <div class="text-xs-center">
              <h2 class="headline text-xs-center">{{ aboutTitle }}</h2>
              <span class="subheading">
                {{ aboutSub }} 
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                  <v-card class="elevation-0 transparent">
                    <v-card-text >
                      {{ aboutStatement }} 
                    </v-card-text>
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">restaurant_menu</v-icon>
                    </v-card-text>
                  </v-card>

  
              </v-layout>
            </v-container>
          </v-flex>
        </v-card>
        </v-layout>
      </section>
    </v-content>
 </template>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
  import LandingCard from '@/components/common/LandingCard'
  export default {
    components: {
      LandingCard
    },
    data () {
      return {
        opHours: '10am - 2am',
        address: '555 Somstreet Dr.',
        locale: 'Somecity, USA',
        aboutTitle: 'Your Favorite Restaurant',
        aboutSub: 'Cuz we said so',
        aboutStatement: 'Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.',
        maps: undefined
      }
    }
  }
 </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
