<template>
          <v-layout
            column
            align-center
            justify-center
            class="text"
          >
          <v-card class="landingCard transparent" flat>
            <v-layout ma-2>
            <v-card class="white innerLandingCard" width="100%" flat>
            <v-layout
            column
            align-center
            justify-center
            class="text"
            pa-3
          >
            <img src="@/assets/logo.png" class="landingLogo" alt="Logo">
            <!-- <h1 class="text mb-2 display-1 text-xs-center">Restaurant</h1> -->
            <h1 v-if="title" class="mb-3 text-xs-center">{{ title }}</h1>
            <div v-if="opHours" class="subheading mb-3 text-xs-center">{{ opHours }}</div>
            <div v-if="address" class="subheading mb-3 text-xs-center">{{ address }}</div>
            <div v-if="locale" class="subheading mb-3 text-xs-center">{{ locale }}</div>
            </v-layout>
            </v-card>
            </v-layout>
          </v-card>
          </v-layout>
 </template>

 <script>
  export default {
    props: {
      title: undefined,
      opHours: undefined,
      address: undefined,
      locale: undefined
    },
    data () {
      return {

      }
    }
  }
 </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.landingCard {
  border-radius: 10px;
  min-width: 30%;
  max-width: 500px;
  align-content: center;
  justify-content: center;
  background: rgb(0, 0, 0);

}

.innerLandingCard {
  border-radius: 30px;
  

}

.landingLogo {
  width: 95%;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}
</style>
