<template>
  <v-app light>
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
      <v-list>
        <v-list-tile
          value="true"
          v-for="(item, i) in nav"
          :key="i"
          @click="goto(item.comp)"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.name"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <!-- <!-- <v-toolbar
      app
      :clipped-left="clipped"
    > -->
    <v-card class="transparent menuBar" flat>
    <v-layout fluid-grid row>
      <v-flex xs12>
      <v-toolbar-side-icon class="hidden-sm-and-up" @click.stop="drawer = !drawer"></v-toolbar-side-icon>

      <span class="hidden-sm-and-down">
        <v-btn 
          v-for="(loc, index) in nav" 
          :key="index" 
          flat
          @click.native="goto(loc.comp)"
          >
          <v-icon small>{{ loc.icon }}</v-icon>
          &nbsp;
          {{ loc.name }}
        </v-btn>
      </span>
      <v-flex absolute right>
      <v-layout row>
        <v-layout row>
          <v-icon class="blue--text text--lighten-2" small>phone</v-icon>
          <v-card-title>{{ phone }}</v-card-title>
        </v-layout>
        <v-layout class="hidden-sm-and-down" row>
          <v-icon class="blue--text text--lighten-2" small>mail</v-icon>
          <v-card-title>{{ email }}</v-card-title>
        </v-layout>
      </v-layout>
      </v-flex>
      </v-flex>
    </v-layout>
    </v-card>
    <!-- </v-toolbar> -->
    <v-content>
      <router-view/>
    </v-content>
  
    <v-footer :fixed="fixed" app>
      <span>&copy; 2017 LRC Development</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Restaurant Name',
      phone: '720-355-8164',
      email: 'info@restuarant.com',
      nav: [
        {
          name: 'Home',
          icon: 'home',
          comp: '/'
        },
        {
          name: 'Food',
          icon: 'restaurant',
          comp: 'food'
        },
        {
          name: 'Drinks',
          icon: 'local_drink',
          comp: 'drinks'
        },
        {
          name: 'Events',
          icon: 'event',
          comp: 'events'
        },
        {
          name: 'Contact',
          icon: 'mail',
          comp: 'contact'
        }
      ]
    }
  },
  methods: {
    goto (loc) {
      this.$router.push(loc)
    }
  },
  name: 'App'
}
</script>
<style>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.menuBar {
  background-color: black;
  opacity: 1;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

</style>

