<template>
    <v-content>
      <section>
        <v-parallax :src="require('@/assets/drinkmenu.jpg')" alt="home-screen" height="400" >
          <landing-card :title="pageTitle"/>
        </v-parallax>
      </section>
      <section>
        <Menu :menu="menu"></Menu>
      </section>
    </v-content>
 </template>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
  import Menu from '@/components/drink/Menu'
  import LandingCard from '@/components/common/LandingCard'
  export default {
    components: {
      Menu,
      LandingCard
    },
    data () {
      return {
        pageTitle: 'Drink Menu',
        menu: [
          {
            group: 'Beer',
            items: [
              {
                title: 'Coors',
                price: 2.75,
                desc: 'Rocky mountain fresh',
                alt: [
                  {
                    price: 0.25,
                    desc: '24oz'
                  }
                ]
              },
              {
                title: 'Budweiser',
                price: 2.75,
                desc: 'All American Beer',
                alt: [
                  {
                    price: 0.25,
                    desc: '24oz'
                  }
                ]
              },
              {
                title: 'Fat Tire',
                price: 2.75,
                desc: 'Some really good beer also...',
                alt: [
                  {
                    price: 0.25,
                    desc: '24oz'
                  }
                ]
              },
              {
                title: 'Corona',
                price: 2.75,
                desc: 'Mexico!',
                alt: [
                  {
                    price: 0.25,
                    desc: '24oz'
                  }
                ]
              },
              {
                title: 'Miller',
                price: 2.75,
                desc: 'All American Beer',
                alt: [
                  {
                    price: 0.25,
                    desc: '24oz'
                  }
                ]
              },
              {
                title: 'Pabst Blue Ribbon',
                price: 2.75,
                desc: 'Some really good beer also...',
                alt: [
                  {
                    price: 0.25,
                    desc: '24oz'
                  }
                ]
              }
            ]
          },
          {
            group: 'Wine',
            items: [
              {
                title: 'Pinot',
                price: 9,
                desc: 'Smooth taste...',
                alt: [
                  {
                    price: 190.99,
                    desc: 'Bottle'
                  }
                ]
              },
              {
                title: 'White',
                price: 2.75,
                desc: 'Good w/fish',
                alt: [
                  {
                    price: 60.99,
                    desc: 'Bottle'
                  }
                ]
              }
            ]
          }
        ]
      }
    }
  }
 </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
