<template>
  <v-container fluid grid-list-md>
    <v-card>
    <v-layout column v-for="(group, index) in menu" :key="index">
    <v-card-title>
      <h1 class="ma-4">{{ group.group }}</h1>
      

    </v-card-title>
          <v-divider />
    <v-card-text>
    <v-data-iterator
      :items="group.items"
      content-tag="v-layout"
      hide-actions
      row
      wrap
    >
      <v-flex
        slot="item"
        slot-scope="props"
        xs12
        sm6
        md4
        lg3
      >
        <v-list dense>
          <v-list-tile style="height: auto;">
            <v-list-tile-content class="menuItemTitle">{{ props.item.title }}</v-list-tile-content>
            <v-spacer/>

          </v-list-tile>
          <v-list-tile>
            <v-list-tile-content style="margin: 5px; height: 100%;">{{ props.item.desc }}</v-list-tile-content>
            <v-list-tile-content class="align-end">${{ props.item.price }}</v-list-tile-content>
          </v-list-tile>
          <span v-if="props.item.alt" v-for="(items, index) in props.item.alt" :key="index">
          <v-list-tile>
            <v-list-tile-content style="margin: 5px;">{{ items.desc }}</v-list-tile-content>
            <v-list-tile-content class="align-end">${{ items.price }}</v-list-tile-content>
          </v-list-tile>
          </span>
        </v-list>
      </v-flex>
    </v-data-iterator>
    </v-card-text>
    <v-card class="elevation-0 transparent">
      <v-card-text class="text-xs-center">
        <v-icon x-large class="blue--text text--lighten-2">local_drink</v-icon>

      </v-card-text>
      
    </v-card>
    </v-layout>
    </v-card>
  </v-container>
</template>
<script>
export default {
  props: {
    menu: Array
  },
  data () {
    return {
      title: 'menu'
    }
  }
}
</script>
<style scoped>
.menuItem {
  background-color: rgb(203, 248, 0);
  border-radius: 10px;
}
.menuItemTitle {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.menuItemDetails {
  color: rgb(255, 255, 255);
}
</style>
